*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-around;
  background: aquamarine;
}

.nav Link{
  padding: 0 10px;
}

.posts {
  text-align: center;
}
